#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-seif;
  color: #4d4d4d;
  min-width: 550px;
  max-width: 1000px;
  margin: 0 auto;
}

a.active {
  color: orange;
}

nav {
  padding-top: 20px;
}

.form__title {
  padding-bottom: 20px;
}

.form__book-cover {
  display: inline-grid;
  vertical-align: top;
}

.form__book-details {
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;
}
